<div class = "row">
	<div class="col-lg-8">
		<div class="panel panel-default">
			<article>
				<p class="panel-body"><%= @todo.todo_item %></p>
			</article>
		</div>
			<%= link_to "Back to List", todos_path %>
	</div>

</div>